[user]
    name = Patrick Stadler
    email = patrick.stadler@gmail.com
[color]
    ui = true
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch

[branch "master"]
    remote = origin
    merge = refs/heads/master
